.App {

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.text {
  width: 80vw;
  height: 20vh;
  border: 2px solid green;
  color: #000;
  font-size: 20px;
}

input:focus, .text:focus {
  border: 2px solid green;
  background-color: rgba(0,255,0,0.2);
}

button {
  font-size: 20px;
  border: 2px solid darkgreen;
  background-color: rgba(0,255,0,0.3);
  border-radius: 10px;
  font-weight: 700;
  margin: 10px;
  transition-duration: 1s;
  transition-property: background-color;
}
button:hover {
  background-color: rgba(0,255,0,1);
}

input {
  font-size: 20px;
}




.App .item-todo {
display: flex;
justify-content: space-between;
align-items: center;
  padding: 14px;
  margin: 0 auto;
  text-align: left;
  margin-top: 15px;
  background: linear-gradient(
    90deg,
    rgba(48, 255, 12,0.3) 0%,
    rgba(233, 250, 0, 0.3) 100%
  );
  color: #000;
  border: 2px solid black;
  font-size: 25px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}


.App .item-todo .item-delete {
  color: red;
  display: flex;
  cursor: pointer;
 margin-left: 15px;
  font-size: 22px;
  position: relative;
  left: -4px;
  bottom: 5px;
}

.strike {
  text-decoration: line-through;
}